@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'),
    url('fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('fonts/NotoSansKR-Light.woff') format('woff'),
    url('fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('fonts/NotoSansKR-Regular.woff') format('woff'),
    url('fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('fonts/NotoSansKR-Medium.woff') format('woff'),
    url('fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('fonts/NotoSansKR-Bold.woff') format('woff'),
    url('fonts/NotoSansKR-Bold.otf') format('truetype');
}

/** http://meyerweb.com/eric/tools/css/reset/ 
  * v2.0 | 20110126
  * License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.4;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', 'Noto Sans CJK KR', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text-base);
}

body {
  transition: 0.3s;
  background: var(--bg);
  width: 100%;
  word-break: keep-all;
  word-wrap: break-word;
}

/* variables */
body {
  --bg: #292929;
  --accent: #8a6fb6;
  --shadow: #13161640;
  --text-base: rgb(223, 223, 223);
  --text-base-30: rgba(223, 223, 223, 0.3);
  --text-base-50: rgba(223, 223, 223, 0.5);
  --text-base-70: rgba(223, 223, 223, 0.7);
  --text-base-90: rgba(223, 223, 223, 0.9);
  --icon-color: #ffffff20;
  --border-color: #ffffff16;
  --hover-base: #232323;
  --header-bg: #21212150;
  --toggle-bg: #ffffff20;
  --toggle-icon: var(--text-base-70);
  --toggle-border: #eeeefb20;
  --code-block: #232323;
  --card-bg: #212121;
  --card-border: var(--text-base-50);
  --mdx-border: #dfe2e535;
  --mdx-icon-color: #dfdfdf70;
  --mdx-icon-bg: #eeeefb20;
  --post-shadow: #ffffff22;
  --post-shadow-hover: #ffffff44;
}

body[data-theme='light'] {
  --bg: #f1ede980;
  --accent: #7d5fad;
  --shadow: #2c3e5015;
  --text-base: rgb(44, 62, 80);
  --text-base-30: rgba(44, 62, 80, 0.3);
  --text-base-50: rgba(44, 62, 80, 0.5);
  --text-base-70: rgba(44, 62, 80, 0.7);
  --text-base-90: rgba(44, 62, 80, 0.9);
  --icon-color: #2c3e5070;
  --border-color: #00000016;
  --hover-base: #edf1f38a;
  --header-bg: #f9fafb50;
  --toggle-bg: #0101010a;
  --toggle-icon: var(--text-base-70);
  --toggle-border: #dfdfdf4d;
  --code-block: #eff2f6;
  --card-bg: #fff;
  --card-border: #ececf3;
  --mdx-border: #2c3e5040;
  --mdx-icon-color: #2c3e5070;
  --mdx-icon-bg: #dfdfdf4d;
  --post-shadow: #00000033;
  --post-shadow-hover: #00000066;
}

/* custom scroll-bar */
body::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 8px; /* 스크롤바의 길이 */
  border-radius: 2px;
  background: var(--text-base-70);
}

body::-webkit-scrollbar-track {
  background: var(--bg); /*스크롤바 뒷 배경 색상*/
}
